/* GENERAL STYLING */
*{
    font-family: 'Helvetica', serif;
}

body{
    background-color: lightskyblue;
}

footer{
    background-color: white;
    color: navy;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-top: 3px solid #FFCB05;
  }

.skip a{
    background: white;
    color: navy;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
    color: navy;
}

*:focus{
    border: 2px solid #FFCB05;
}  

a{
    text-decoration: none;
    color: navy;
    margin: 5px;
} 

a:visited{
    color: navy;
}

a:hover{
    font-weight: bold;
}

body > header{
    display: flex;
    position: sticky;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    top: 0;
    left: 0;
    align-items: center;
    border-bottom: 3px solid #FFCB05;
}

.nav_links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: small;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#logo{
    max-height: 60px;
    animation-name: fade-in;
    animation-duration: 5s;
}

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation:none;
    }

    .skip a{
        transition:none;
    }
}


/* ABOUT PAGE */
.about{
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.2fr;
    grid-template-rows: 0.2fr repeat(0.8fr, 7);
    grid-column-gap: 5px;
    justify-content: center;
    color: navy;
    background-color: lightskyblue;
}

.about h1, .events h1, .e-board h1, .records-main h1{
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    text-align: center;
    color: navy;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    align-self: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#about-par1{
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
    background: transparent;
}

#about-par2{
    grid-column: 2 / span 4;
    grid-row: 4 / span 1;
}

#about-par3{
    grid-column: 2 / span 4;
    grid-row: 6 / span 1;
}

#about-par1, #about-par2, #about-par3, .events-par1, .events-par2, .events-par3, #form-blurb{
    color: navy;
    background-color: rgb(255, 255, 255);
    justify-self: center;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 3px solid #FFCB05;
}

#about-pic1 {
    grid-column: 2 / span 4;
    grid-row: 3 / span 1;
    object-fit: cover;
    overflow: hidden;
    width: 97%;
    max-height: 97%;
    border: 5px solid navy;
    border-radius: 5px;
    justify-self: center;
}

#about-pic2 {
    grid-column: 2 / span 4;
    grid-row: 5 / span 1;
    object-fit: cover;
    overflow: hidden;
    max-width: 97%;
    max-height: 97%;
    border: 5px solid navy;
    border-radius: 5px;
    justify-self: center;
}

#form-blurb{
    grid-column: 2 / span 4;
    grid-row: 8 / span 1;
    margin: 20px;
}


/* EVENTS PAGE */
.events{
    display: grid;
    grid-template-rows: 0.3fr 0.3fr repeat(3, 1fr);
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    background-color: lightskyblue;
}

.events h1{
    grid-row: 1 / span 1;
    grid-column: 1 / -1;
    padding: 10px;
}

.events-intro{
    grid-row: 2 / span 1;
    grid-column: 1 / -1;
}

.events-par1{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}

.events-par2{
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
}

.events-par3{
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
}

p.events-intro{
    text-align: center;
    color: navy;
    font-weight: bold;
    align-self: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

#bbq{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
    object-fit: contain;
}

#halloween{
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
    object-fit: contain;
}

#skating{
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    align-self: center;
    width: 90%;
    height: 90%;
    object-fit: contain;
}


/* E-BOARD */
.board{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

.co-pres1, .co-pres2, .admin, .social, .treasurer, .comp, .media, .membership{
    margin: 25px;
}

.co-pres1 > header, .co-pres2 > header, .admin > header, .social > header, .treasurer > header, .comp > header, .media > header, .membership > header{
    background: white;
    color: navy;
    border: 2px solid navy;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 7px 7px 0px 0px;
    text-align: center;
    width: 250px;
}

.co-pres1 img, .co-pres2 img, .admin img, .social img, .treasurer img, .comp img, .media img, .membership img{
    align-self: center;
    height: 250px;
    width: 250px;
}

.co-pres1 ul, .co-pres2 ul, .admin ul, .social ul, .treasurer ul, .comp ul, .media ul, .membership ul{
    width: 250px;
    background: white;
    color: navy;
    border: 2px solid navy;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0px 0px 7px 7px;
    vertical-align: center;
    list-style-type: none;
}

p.e-board-intro{
    text-align: center;
    color: navy;
    font-weight: bold;
    align-self: center;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.all-e-board{
    display: block;
    width: 300px;
    height: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid navy;
}


/* RECORD BOARD */
.records{
    display: block;
    margin: 5%;
    color: navy;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    text-align: center;
    border: 2px solid black;
}

table {
    border-collapse: collapse;
}

tr { 
    border: solid;
    border-width: 1px 0;
}

p.records-intro{
    text-align: center;
    color: navy;
    font-weight: bold;
    align-self: center;
    background-color: rgb(255, 255, 255);
    /* margin-top: 20px; */
    padding: 10px;
}


@media screen and (min-width: 750px) {
    /* GENERAL */
    .nav_links{
        font-size: 25px;
    }

    /* ABOUT */
    .about{
        font-size: 25px;
    }

    /* E-BOARD */
    .e-board-intro{
        font-size: 25px;
    }
    
    /* EVENTS */
    .events{
        font-size: 23px;
    }

    /* RECORDS */
    .records{
        font-size: 20px;
    }

    .records-intro{
        font-size: 25px;
    }
}


/* CONTACT FORM */
input[type=text], select {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}

.contact-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 3px solid #FFCB05;
    padding: 20px;
    margin: 20px;
    grid-column: 3 / span 2;
    grid-row: 7 / span 1;
}


@media screen and (min-width: 1200px) {

    /* ABOUT */
    .about{
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
        grid-template-rows: 0.1fr 0.2fr 1fr 1fr 0.2fr 0.5fr;
    }

    #about-par1{
        grid-column: 2 / span 2;
        grid-row: 2 / span 1;
        margin: 20px;
    }

    #about-par2{
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        margin: 20px;
    }

    #about-pic1{
        grid-column: 3 / span 1;
        grid-row: 3 / span 1;
        margin: 20px;
    }

    #about-pic2{
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
        margin: 20px;
    }

    #about-par3{
        grid-column: 3 / span 1;
        grid-row: 4 / span 1;
        margin: 20px;
    }

    .contact-form{
        grid-column: 2 / span 2;
        grid-row: 6 / span 1;
        font-size: 20px;
    }

    #form-blurb{
        grid-column: 2 / span 2;
        grid-row: 5 / span 1;
    }


    /* EVENTS */
    .events{
        grid-template-rows: 0.2fr 0.2fr 0.8fr 0.8fr 0.8fr;
        grid-template-columns: 0.5fr 2fr 2fr 0.5fr;
        align-items: center;
        font-size: 26px;
    }

    .events h1{
        grid-row: 1 / span 1;
        grid-column: 1 / -1;
    }

    .events-intro{
        grid-row: 2 / span 1;
        grid-column: 2 / span 2;
        border: 3px solid #FFCB05;
        border-radius: 5px;
    }
    
    .events-par1{
        grid-row: 3 / span 1;
        grid-column: 3 / span 1;
    }
    
    .events-par2{
        grid-row: 4 / span 1;
        grid-column: 3 / span 1;
    }
    
    .events-par3{
        grid-row: 5 / span 1;
        grid-column: 3 / span 1;
    }

    #bbq{
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
    }

    #halloween{
        grid-row: 4 / span 1;
        grid-column: 2 / span 1;
        max-height: 80%;
    }

    #skating{
        grid-row: 5 / span 1;
        grid-column: 2 / span 1;
    }


    /* RECORD BOARD */
    .records{
        font-size: 35px;
        margin: 10%;
        margin-top: 5%;
    }

    p.records-intro{
        margin-top: 3%;
    }

}